* { 
    margin: 0; 
    padding: 0;   
    border: 0;   
    outline: 0;   
    list-style: none;   
    box-sizing: border-box;   
}*  
body{  
    background-image: url(./img/logikum_piraty_karibskogo_morya_photo1.jpg);  
    background-size: cover;  
}  
.form{  
    width: 470px; ;  
    background-color: rgba(0, 0, 0, 0.600);  
    margin: 60px auto;  
    border-radius: 6%;  
    padding: 30px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
  

      
}  
.form__title {  
    color: rgb(255, 255, 255);  
    font-size: 50px;  
    text-align: center;  
    margin-bottom: 10px;
}  
.form__label {  
    color: rgb(255, 255, 255);

}
.form__input {
    background-color: rgb(71, 71, 71);
    margin-bottom: 30px;
    padding: 10px ;
    border-radius: 5%;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
.form__input:nth-child(1){
    margin-left: 30px;
}
.form__label:nth-child(1){
    margin-left: 130px;
}
.form__button {
    width: 300px;
    height: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 4%;
    margin-top: 20px;

}
.form__button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.form__button:active{
    background-color: rgb(135, 135, 135);

}
.form__label{
    font-size: 20px;
}
.form__input:focus{
    border: 2px solid #12f806;
    margin-top: 5px;

}
.form__radio{
    background-color: rgba(0, 136, 255, 0.367);
    width: 200px;
    border-radius: 7%;
    margin: 0 auto;
}
